        Data Types
            
            Number Data Type
            
                int,float,complex

        Value
        
        Variable  --->

In [1]:
print("Hello World")

Hello World

        1. Variable name should be start from alphabet and _ only
        
        2. We can not give the spaces between variable name

In [2]:
x = 1

In [3]:
print(1)

1

In [4]:
print(x)

1

In [5]:
x1 = 1

In [6]:
xy = 1

In [7]:
name = 'samyak'

In [8]:
print(name)

samyak

In [9]:
x y = 1

SyntaxError: invalid syntax (<ipython-input-9-277cf67f3266>, line 1)

In [10]:
x_ = 1

In [11]:
_ = 1

In [12]:
x_y = 1

In [13]:
x1 = 1

In [14]:
1x = 1

SyntaxError: invalid syntax (<ipython-input-14-b29d97cf0e61>, line 1)

In [15]:
x,y = 1,2

In [16]:
x

1

In [17]:
y

2

In [18]:
x,y = y,x #swapping

In [19]:
x

2

In [20]:
y

1

In [21]:
z = x*y

In [22]:
z

2

In [28]:
print(x,y,sep='\n')

2
1

In [29]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [30]:
print?

In [31]:
print() # shift + tab

In [32]:
print(x,y)

2 1

In [34]:
print(x,y,sep=',',end='\t')
print(z)

2,1	2

In [35]:
print(x,y,sep=',',end=':')
print(z)

2,1:2

In [36]:
print(x,y,sep='\n',end=',')
print(z)

2
1,2

In [38]:
print("The value of x: ",x)

The value of x:  2

In [39]:
print("The value of y: ",y)

The value of y:  1

In [40]:
print("The value of z: ",y)

The value of z:  1

In [42]:
print("the value of x: ",x,"\nthe value of y: ",y)

the value of x:  2
the value of y:  1

In [43]:
s = "Hello World\nto Python"

In [44]:
print(s)

Hello World
to Python

In [45]:
s

'Hello World\nto Python'

In [46]:
x = 1

In [47]:
print(x)

1

In [48]:
x

1

In [50]:
%%writefile one.py

print("Hello World to Python")

Overwriting one.py