## MySQL Database Access

- The Python standard for database interfaces is the Python DB-API.

- Most Python database interfaces adhere to this standard.

- You can choose the right database for your application.

- Python Database API supports a wide range of database servers such as −

1.  GadFly
2.  mSQL
3.  MySQL
4.  PostgreSQL
5.  Microsoft SQL Server 2000
6.  Informix
7.  Interbase
8.  Oracle
9.  Sybase
10. SQLite

- Python Database Interfaces and APIs. You must download a separate DB API module for each database you need to access.

- For example, if you need to access an Oracle database as well as a MySQL database, you must download both the Oracle and the MySQL database modules.

- The DB API provides a minimal standard for working with databases using Python structures and syntax wherever possible. This API includes the following −

    - Importing the API module.
    - Acquiring a connection with the database.
    - Issuing SQL statements and stored procedures.
    - Closing the connection

- Python has an in-built support for SQLite.

**Note: First Learn About PyMySQL then sqlite3, sqlalchemy.**

### What is PyMySQL ?

- PyMySQL is an interface for connecting to a MySQL database server from Python.

- It implements the Python Database API v2.0 and contains a pure-Python MySQL client library.

- The goal of PyMySQL is to be a drop-in replacement for MySQLdb.

### Install PyMySQL?

In [ ]:
pip install pymysql    ### Command for installing PyMySQL --> In shell

### Connecting to MySQL
- The proper way to get an instance of this class is to call connect() method. This method establishes a connection to the MySQL database and accepts several arguments:

#### Parameters :
    host – Host where the database server is located
    user – Username to log in as
    password – Password to use.
    database – Database to use, None to not use a particular one.
    port – MySQL port to use, default is usually OK. (default: 3306)

In [4]:
# To connect MySQL database
## import pymysql liraries
import pymysql

# Open database connection
conn = pymysql.connect( 
    host='localhost', 
    user='root',  
    password = "123", 
    db='student',     ## You need to create student table
    ) 

# prepare a cursor object using cursor() method
db = conn.cursor() 

# Select query 
db.execute("select * from STUDENT") 

## Fetch all the code from cur
output = db.fetchall() 
      
for i in output: 
    print(i) 
    
# To close the connection
conn.close() 

"""Note: You can do all the this which is you can do in the Mysql. You need to write the your querie inside the execute()
method and it will execute you quesries"""

### Creating Database Table

- Once a database connection is established, we are ready to create tables or records into the database tables using execute method of the created cursor.

### INSERT Operation

- The INSERT Operation is required when you want to create your records into a database table.

In [7]:
# Open database connection
conn = pymysql.connect( 
    host='localhost', 
    user='root',  
    password = "123", 
    db='student',     ## You need to create student table
    ) 
# prepare a cursor object using cursor() method
db = conn.cursor()

# Drop table if it already exist using execute() method.
db.execute("DROP TABLE IF EXISTS EMPLOYEE")

# Create table as per requirement
sql = """CREATE TABLE EMPLOYEE (
   FIRST_NAME  CHAR(20) NOT NULL,
   LAST_NAME  CHAR(20),
   AGE INT,  
   SEX CHAR(1),
   INCOME FLOAT )"""

# Select query 
db.execute(sql)

# Prepare SQL query to INSERT a record into the database.
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""

try:
   # Execute the SQL command
   db.execute(sql)
   # Commit your changes in the database
   conn.commit()
except:
   # Rollback in case there is any error
   conn.rollback()  

# disconnect from server
conn.close()


# Output:  # you can check in shell. 
"""
MariaDB [student]> desc employee;
+------------+----------+------+-----+---------+-------+
| Field      | Type     | Null | Key | Default | Extra |
+------------+----------+------+-----+---------+-------+
| FIRST_NAME | char(20) | NO   |     | NULL    |       |
| LAST_NAME  | char(20) | YES  |     | NULL    |       |
| AGE        | int(11)  | YES  |     | NULL    |       |
| SEX        | char(1)  | YES  |     | NULL    |       |
| INCOME     | float    | YES  |     | NULL    |       |
+------------+----------+------+-----+---------+-------+
5 rows in set (0.00 sec)

MariaDB [student]> select * from employee;
+------------+-----------+------+------+--------+
| FIRST_NAME | LAST_NAME | AGE  | SEX  | INCOME |
+------------+-----------+------+------+--------+
| Mac        | Mohan     |   20 | M    |   2000 |
+------------+-----------+------+------+--------+
1 row in set (0.00 sec)
"""

C:\Users\91911\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1051, "Unknown table 'student.employee'")
  result = self._query(query)

### READ Operation

- READ Operation on any database means to fetch some useful information from the database.

- Once the database connection is established, you are ready to make a query into this database. You can use either fetchone() method to fetch a single record or fetchall() method to fetch multiple values from a database table.

1. fetchone() − It fetches the next row of a query result set. A result set is an object that is returned when a cursor object is used to query a table.

2. fetchall() − It fetches all the rows in a result set. If some rows have already been extracted from the result set, then it retrieves the remaining rows from the result set.

**rowcount − This is a read-only attribute and returns the number of rows that were affected by an execute() method.**

### Update Operation

- UPDATE Operation on any database means to update one or more records, which are already available in the database.
- The following procedure updates all the records having SEX as 'M'. Here, we increase the AGE of all the males by one year.

In [9]:
# Open database connection
conn = pymysql.connect( 
    host='localhost', 
    user='root',  
    password = "123", 
    db='student',     ## You need to create student table
    ) 
# prepare a cursor object using cursor() method
db = conn.cursor()

print("Before Updation :")
# Select query 
db.execute("select * from EMPLOYEE") 

## Fetch all the code from cur
output = db.fetchall() 
      
for i in output: 
    print(i)

# Prepare SQL query to UPDATE required records
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')
    
print("After Updation :")
try:
   # Execute the SQL command
   db.execute(sql)
   # Commit your changes in the database
   conn.commit()
except:
   # Rollback in case there is any error
   conn.rollback()
     
# Select query 
db.execute("select * from EMPLOYEE") 

## Fetch all the code from cur
output = db.fetchall() 
      
for i in output: 
    print(i) 
    
# disconnect from server
conn.close()

Before Updation :
('Mac', 'Mohan', 20, 'M', 2000.0)
After Updation :
('Mac', 'Mohan', 21, 'M', 2000.0)

## SQLite in Python

- To use SQLite, we must import sqlite3.

- Then create a connection using connect() method and pass the name of the database you want to access if there is a file with that name, it will open that file. Otherwise, Python will create a file with the given name.

- After this, a cursor object is called to be capable to send commands to the SQL. Cursor is a control structure used to traverse and fetch the records of the database. Cursor has a major role in working with Python. All the commands will be executed using cursor object only.

- To create a table in the database, create an object and write the SQL command in it with being commented. Example:- sql_comm = ”SQL statement”

- And executing the command is very easy. Call the cursor method execute and pass the name of the sql command as a parameter in it. Save a number of commands as the sql_comm and execute them. After you perform all your activities, save the changes in the file by committing those changes and then lose the connection.

In [14]:
# Python code to demonstrate table creation and 
# insertions with SQL 

# importing module 
import sqlite3 

# connecting to the database 
connection = sqlite3.connect("student.db") 

# cursor 
crsr = connection.cursor() 

# SQL command to create a table in the database 
sql_command = """CREATE TABLE emp( 
staff_number INTEGER PRIMARY KEY, 
fname VARCHAR(20), 
lname VARCHAR(30), 
gender CHAR(1), 
joining DATE);"""

# execute the statement 
crsr.execute(sql_command) 

# SQL command to insert the data in the table 
sql_command = """INSERT INTO emp VALUES (23, "Rishabh", "Bansal", "M", "2014-03-28");"""
crsr.execute(sql_command) 

# another SQL command to insert the data in the table 
sql_command = """INSERT INTO emp VALUES (1, "Bill", "Gates", "M", "1980-10-28");"""
crsr.execute(sql_command) 

# execute the command to fetch all the data from the table emp 
crsr.execute("SELECT * FROM emp")

## Fetch all the code from cur
output = crsr.fetchall() 
print(output)

# To save the changes in the files. Never skip this. 
# If we skip this, nothing will be saved in the database. 
connection.commit() 

# close the connection 
connection.close() 

# Note: All updation, deletion is same like PyMySQL.

[(1, 'Bill', 'Gates', 'M', '1980-10-28'), (23, 'Rishabh', 'Bansal', 'M', '2014-03-28')]

In [ ]:
### Do it YourSelf       ## for this task you can use any database like sqllite, pymysql..

# Ques:
    Your task is to create these tables using the python notebook. You have 4 tables is given which is connected from 
    each other.
    Primary keys: sid, fid, ph_no, addr_id
    Foreign keys: sid in fees table, sid in address.
        
Output:
    Print all the table.
    
Student Table:
+------+--------+------------+-------------------------+
| sid  | name   | ph_no      | email                   |
+------+--------+------------+-------------------------+
| 1001 | sachin | 9782131159 | sachin@grras.com        |
| 1002 | kushal | 1234323456 | kushal.samota@grras.com |
| 1003 | rajat  | 8923342334 | rajat.goyal@gmail.com   |
| 1004 | ravi   | 9782123432 | ravi.sarswat@gmail.com  |
| 1005 | gaurav | 992334561  | gaurav.saluja@gmai.com  |
| 1006 | nidhi  | 9912345678 | nidhi.sharma@yahoo.com  |
| 1007 | aman   | 9748654899 | aman@grras.com          |
+------+--------+------------+-------------------------+

Fees Table:
+-----+------+------+-------+----------+
| fid | sid  | due  | fees  | discount |
+-----+------+------+-------+----------+
|   1 | 1001 | 3500 | 15000 |     2000 |
|   2 | 1002 | 5000 | 20000 |        0 |
|   3 | 1003 | 4300 | 15000 |     2000 |
|   4 | 1004 | 2700 | 18000 |     1000 |
|   5 | 1005 | 3500 | 16000 |     3000 |
|   6 | 1006 | 4000 | 25000 |     3500 |
+-----+------+------+-------+----------+


Fees Status:
+--------+------------+------+-------+
| name   | ph_no      | due  | fees  |
+--------+------------+------+-------+
| kushal | 1234323456 | 5000 | 20000 |
| rajat  | 8923342334 | 4300 | 15000 |
| nidhi  | 9912345678 | 4000 | 25000 |
+--------+------------+------+-------+


Address:
+---------+------+----------+-----------------+--------------------+------------------+---------+-----------+---------+---------+
| addr_id | sid  | house_no | street          | area               | land_marks       | city    | state     | country | pincode |
+---------+------+----------+-----------------+--------------------+------------------+---------+-----------+---------+---------+
|       1 | 1001 | c-54     | kana vihar      | ayodhya nagar      | behid ram mandir | jaipur  | rajasthan | india   |  302021 |
|       2 | 1002 | 112/23   |                 | near main market   |                  | udaipur | rajasthan | india   |  313001 |
|       3 | 1003 | d-112    | near om garden  | jayanti road       |                  | jaipur  | rajasthan | india   |  302026 |
|       4 | 1004 | k-12     | gyan vihar      | near gt road       |                  | jaipur  | rajasthan | india   |  302024 |
|       5 | 1005 | k-12     |                 | behid kiran sweets | himmat nagar     | jaipur  | rajasthan | india   |  302026 |
|       6 | 1006 | c-56     | mansorvar plaza |                    |                  | kaipur  | rajasthan | india   |  313001 |
+---------+------+----------+-----------------+--------------------+------------------+---------+-----------+---------+---------+

In [ ]:
### Questions: 
    All the queries perform using the python notbook and print the answer as output.
    
    Ques1. Perfrom left join between student table and address using the common key(foreign keys).
    Ques2. Write a query to fetch the stu_Name from the Student table in upper case and use the ALIAS name as stu_Name.
    Ques3. Write a query to fetch the number of student whose fees is greater then 15000 in the Fees Table.
    Ques4. Write a query to find all the student name,email_id whose city name is Jaipur.
    Ques5. Write a query to fetch the Student Names by due fees table sorted by in ascending order.